body {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrraper {
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 2s;
    transition-timing-function: ease-in;
}

.wrraper:hover {
    background: #000000;
    opacity: 0.41;
    height: 58px;
}

.container {
    max-width: 1208px;
    margin: 0 auto;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.header_logo_link {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s;
    transition-timing-function: ease-out;
}

.header_logo_link:hover {
    color: #3CB878;
    font-size: 20px;
}

.header_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 26px;
}

.calendar_svg,
.envelope_open_svg,
.compass_svg {
    fill: #fff;
    transition: 1s;
}

.calendar_svg:hover,
.envelope_open_svg:hover,
.compass_svg:hover {
    fill:#3CB878;
    cursor: pointer;
}

.header_menu_text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header_menu_text::before {
    content: "";
    display: inline-block;
    border: 1px solid #FFFFFFE5;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-left: 25px;
    margin-right: 27px;
}

.login_link,
.singup_link {
    color: #FFFFFF;
    text-decoration: none;
    transition: 1.5s;
}

.login_link:hover,
.singup_link:hover {
    color: #3CB878;
}

.form_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 0px 60px 38px;
    box-sizing: border-box;
}

.form_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form_heading_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    padding-top: 31px;
    padding-bottom: 15px;
}

.form_heading_text::before {
    content: '';
    display: inline-block;
    border: none;
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0px;
    top: 29px;
}

.form_heading_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
    padding-top: 33px;
    padding-bottom: 13px;
}

.form_heading_link:hover {
    text-decoration: underline;
    color: #01813F;
}

.form_or_line {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #848484;
    padding-bottom: 12px;
    position: relative;
}

.form_or_line::before,
.form_or_line::after {
    content: '';
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.form_or_line::before {
    position: absolute;
    left: 1px;
    top: 8px;
}

.form_or_line::after {
    position: absolute;
    left: 172px;
    top: 8px;
}

.or_line_span {
    padding-left: 3px;
    padding-right: 3px;
}

.form_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    padding-bottom: 31px;
}

.btn_facebook,
.btn_google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 0px;
    position: relative;
    transition: 1s;
}

.form_btn > .btn_facebook {
    background: #305DB8;
}

.form_btn > .btn_google {
    background: #DF4A32;
}

.btn_facebook:hover {
    background:#022263;
}

.btn_google:hover {
    background: #AB1F09;
}

.facebook_span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    left: 48px;
    top: 10px;
    position: absolute;
}

.google_span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
    left: 49px;
    top: 10px;
    position: absolute;
}

.icon_facebook {
    padding: 12px 19px 12px 17px;
}

.icon_google {
    padding: 15px 7px 14px 12px;
}

.facebook_span {
    padding: 17px 22px 17px 18px;
}

.google_span {
    padding: 17px 27px 17px 30px;
}

.form_registration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user_first_name,
.user_last_name,
.user_email,
.user_choose_password {
    outline: none;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 0;
    padding: 15px 20px;
    box-sizing: border-box;
}

.user_confirm_password {
    outline: none;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 0;
    padding: 15px 20px;
    box-sizing: border-box;
}

.user_first_name::placeholder,
.user_last_name::placeholder,
.user_email::placeholder,
.user_choose_password::placeholder,
.user_confirm_password::placeholder {
    color: #BEBEBE;
}

.user_first_name:focus,
.user_last_name:focus,
.user_email:focus,
.user_choose_password:focus,
.user_confirm_password:focus,
.user_first_name:focus:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
} 

.form_button {
    outline: none;
    width: 324px;
    height: 46px;
    border: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    box-sizing: border-box;
    transition: 1s;
}

.form_button:hover {
    background: #01813F;
}

.agree_checkbox { 
    display: none;
}

.agree_checkbox + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

.agree_checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
}

.agree_checkbox:checked + label::before {
    content: '\2714';
    text-align: center;
    line-height: 14px;
    color: #3CB878
}

.agree_checkbox_label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: 230px;
    height: 20px;
    color: #434343;
}

.checkbox_label_link {
    color:#3CB878;
    text-decoration: none;
    transition: 1s;
}

.checkbox_label_link:hover {
color:#01813F;
text-decoration: underline;
}